// *::-webkit-scrollbar {
//   // background-color: transparent;
//   // width: 1rem;
//   // z-index: 3000;
// }
// *::-webkit-scrollbar-track {
//   border-radius: 10px;
// }
// *::-webkit-scrollbar-track {
//   background-color: red;
// }
*::-webkit-scrollbar {
  width: 0.8rem; /* width of the entire scrollbar */
}
*::-webkit-scrollbar-track {
  background: none; /* color of the tracking area */
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(
    $color: white,
    $alpha: 0.3
  ); /* color of the scroll thumb */
  border-radius: 2rem; /* roundness of the scroll thumb */
}

// *::-webkit-scrollbar-track {
//   display: none;
//   background: transparent;
// }
// *::-webkit-scrollbar-thumb {
//   background-color: rgba(245, 240, 240, 0.3);
//   opacity: 0.3;
//   border-radius: 20px;
// }
