@import "./_base";

.body {
  flex: 1;
  height: 90vh;
  // background: linear-gradient(#86759a, black);
  color: white;
  padding: 1.5rem 3rem 3rem 3rem;
  overflow-y: overlay;
}

.body__info {
  display: flex;
  align-items: flex-end;

  .image {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    width: 23rem;
    margin-right: 3rem;
    img {
      height: 23rem;
    }
  }
}

.body__infoText {
  flex: 1;
  h2 {
    font-size: 4.4vw;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.4rem;
  }
  strong {
    font-size: 1.2rem;
  }
}

.body__icons {
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
  margin-left: -2rem;

  .MuiSvgIcon-root {
    margin-right: 2rem;
  }
}

.body__shuffle {
  font-size: 7rem !important;
  margin: 2rem 2rem 2rem 5rem;
  color: $green;

  &:hover {
    transition: 100ms transform ease-in;
    -webkit-transform: scale(1.1);
    transform: scale(1.08);
  }
}

.small {
  font-size: 5rem !important;
  position: fixed;
  top: -1.5rem;
  z-index: 600;
}

.body__songs {
  margin: 2rem -4rem 0rem -3rem;
}

.body__songslist {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.99));
  padding-right: 2rem;
}

.fullheart {
  color: $green;
  font-size: 3.2rem !important;
}

.emptyheart {
  font-size: 3.2rem !important;
}

.more {
  font-size: 3.2rem !important;
}

.sticky {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  margin-left: -3rem;
  height: 6rem;
  z-index: 600;

  h2 {
    font-size: 2.2rem;
  }
}

.layer {
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: -3rem;
  height: 6rem;
  z-index: 500;
}

#playlist-title {
  font-size: 2.2rem;
  position: fixed;
  top: 1.5rem;
  padding-left: 12rem;
  z-index: 600;
}

.songs_header {
  width: 91%;
  height: 4rem;
  padding-top: 1rem;
  position: fixed;
  top: 6rem;
  background: rgba(0, 0, 0, 0.75);
  z-index: 600;

  table {
    width: 94.8%;
    margin-left: 4rem;
    border-collapse: collapse;

    th {
      text-align: start;
      font-size: 1.3rem;
      font-weight: 500;
      color: rgb(165, 165, 165);
      padding-bottom: 1rem;
      border-bottom: 0.01rem solid rgba(165, 165, 165, 0.2);
    }

    .table__header :nth-child(1) {
      padding-left: 2rem;
      font-size: 1.6rem;
      width: 5rem;
    }

    .table__header :nth-child(2) {
    }
    .table__header :nth-child(3) {
      width: 25%;
    }

    .table__header :nth-child(4) {
      width: 20%;
    }

    .table__header :nth-child(5) {
      width: 10%;
    }
  }
}

.layer2 {
  width: 91%;
  position: fixed;
  top: 6rem;
  z-index: 500;
  height: 4rem;
}

@media only screen and (max-width: 2000px) {
  .songs_header {
    width: 88%;
    table {
      margin-left: 4rem;
    }
  }
}

@media only screen and (max-width: 1800px) {
  .songs_header {
    width: 86%;
    table {
      margin-left: 3.5rem;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .songs_header {
    width: 85%;
    table {
      margin-left: 3rem;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .songs_header {
    width: 84%;
    table {
      margin-left: 2.5rem;
    }
  }
}
@media only screen and (max-width: 1370px) {
  .songs_header {
    width: 83%;
    table {
      margin-left: 2.5rem;
    }
  }
}
@media only screen and (max-width: 1100px) {
  .songs_header {
    width: 75%;
    table {
      margin-left: 2rem;
    }
  }
}

@media only screen and (max-width: 900px) {
  .songs_header {
    width: 72%;
    table {
      margin-left: 1rem;
    }
  }
}
