@import "./_base";

.footer {
  color: white;
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 10rem;
  width: 100%;
  background-color: $grey1;
  padding: 0rem 2rem;
  border-top: 0.1rem solid black;
}

.footer__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  max-width: 30rem;

  .footer__album__logo {
    height: 5.5rem;
    width: 5.5rem;
    margin-right: 2rem;
    object-fit: contain;
  }

  .footer__songInfo {
    h4 {
      margin-bottom: 0.5rem;
      font-size: 1.4rem;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    p {
      font-size: 1.15rem;
      font-weight: 600;
      color: rgb(165, 165, 165);
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.footer__center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__commands {
  flex: 0.7;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 30rem;

  .icon {
    margin: 0 1.4rem;
    font-size: 2.5rem;
  }

  .footer__icon {
    color: $grey2;
    transition: 200ms color ease-in;
    &:hover {
      color: white;
    }
  }
  .footer__green {
    color: $green;
  }

  .__play {
    font-size: 4.5rem;
    &:hover {
      transition: transform 0.2s ease-in-out;
      transform: scale(1.1) !important;
    }
  }
}

.footer__right {
  flex: 0.3;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 30rem;

  *.MuiSlider-root {
    color: $green !important;
    margin-left: 1.5rem;
    pointer-events: auto;

    &:hover {
      .MuiSlider-thumb {
        display: inline;
        color: white !important;
        box-shadow: inherit !important;
        width: 15px;
        height: 15px;
      }
      .MuiSlider-track {
        color: $green !important;
      }
    }
    &:active {
      .MuiSlider-thumb {
        display: inline;
        color: white !important;
        box-shadow: inherit !important;
      }
    }
  }
  .MuiSlider-thumb {
    display: none;
  }

  .MuiSlider-track {
    color: $grey2 !important;
    height: 4px !important;
    border-radius: 2.5px !important;
  }
  .MuiSlider-rail {
    color: rgba(128, 128, 128, 0.9);
    height: 4px !important;
    border-radius: 2.5px !important;
  }

  .icon {
    margin: 0;
    font-size: 2.5rem;
    color: $grey2;
    transition: 200ms color ease-in;
    &:hover {
      color: white;
    }
  }

  .footer__right__icon {
    margin-left: 1rem;
  }
}

.time {
  width: 2.3rem;
  font-size: 1.05rem;
}

@media only screen and (min-width: 2400px) {
  .footer {
    height: 10vh;
  }
}
