@import "./_base";

.sidebar {
  height: 90vh;
  min-width: 23rem;
  flex: 0.15;
  color: $grey2;
  background-color: black;
  padding: 0 1rem;

  hr {
    border: 0.1rem solid $grey1;
    width: 98%;
    margin: 1rem auto;
  }
}

.sidebar__logo {
  height: 8.5rem;
  padding: 1rem;
  margin-right: auto;
}

.sidebar__title {
  margin-left: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.sidebar__playlists {
  overflow-y: scroll;
  height: 60vh;
}
