@import "./_base";

.sidebaroption {
  display: flex;
  align-items: center;
  color: $grey2;
  min-height: 4rem;
  cursor: pointer;
  transition: 200ms color ease-in;
  position: relative;
  &:hover {
    color: white;
  }
  h4 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.4rem;
    margin: 1rem 0 0 2rem;
  }
  .sidebaroption__icon {
    margin: 0 1rem;
    font-size: 3rem;
  }
}

.white {
  color: white;
}

.playlist-name {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.invisible {
  display: none !important;
}
.visible {
  background-color: black;
  height: 2rem !important;
  width: 2rem !important;
  // border: 1px solid red;
  position: absolute;
  right: 1rem;
}

.sidebar__icon__pause {
  background-color: black;
  height: 3.5rem !important;
  width: 3.5rem !important;
  position: absolute;
  right: 0.3rem;
  top: 0.7rem;
  color: $grey2;
}
