@import "./_base";

.sidebaroption {
  display: flex;
  align-items: center;
  color: $grey2;
  min-height: 3.8rem;
  cursor: pointer;
  transition: 100ms color ease-in;
  position: relative;
  &:hover {
    color: white;
  }
  h4 {
    font-size: 1.35rem;
    font-weight: 500;
  }
  p {
    font-size: 1.35rem;
    font-weight: 400;
    margin: 1rem 0 0 2rem;
  }
  .sidebaroption__icon {
    margin: 0 1rem;
    font-size: 3rem;
  }
}

.white {
  color: white;
}

.playlist-name {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.invisible {
  display: none !important;
}
.visible {
  background-color: black;
  padding: 0.4rem;
  height: 3rem !important;
  width: 3rem !important;
  position: absolute;
  top: 0.8rem;
  right: 0rem;
}

.sidebar__icon__pause {
  background-color: black;
  height: 3rem !important;
  width: 3rem !important;
  position: absolute;
  right: 0rem;
  top: 0.8rem;
  color: $grey2;
}
