@import "./_base";

.sidebar {
  display: flex;
  flex-direction: column;
  height: 90vh;
  // flex: 0.124;
  width: 23rem;
  color: $grey2;
  background-color: black;
  padding: 0 0.3rem 0 1rem;

  hr {
    border: 0.1rem solid $grey1;
    width: 98%;
    margin: 1rem auto;
  }
}

.sidebar__logo {
  height: 4rem;
  margin: 2rem 2rem 2rem 1rem;
}

.sidebar__title {
  margin-left: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.sidebar__playlists {
  overflow-y: scroll;
  height: 60%;
  margin-left: -0.7rem;
}
