.sidebaroption {
  display: flex;
  align-items: center;
  color: grey;
  height: 4rem;
  cursor: pointer;
  transition: 200ms color ease-in;
  &:hover {
    color: white;
  }
  h4 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.4rem;
    margin: 1rem 0 0 2rem;
  }
  .sidebaroption__icon {
    margin: 0 1rem;
    font-size: 1.8rem;
  }
}
