@import "./_base";

table {
  width: 95%;
  margin: auto;
  border-collapse: collapse;
}
th {
  text-align: start;
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(165, 165, 165);
  padding-bottom: 1rem;
  border-bottom: 0.01rem solid rgba(165, 165, 165, 0.2);
}

.empty__row {
  height: 2rem;
}

.table__header :nth-child(1) {
  padding-left: 2rem;
  font-size: 1.6rem;
  width: 5rem;
}

.table__header :nth-child(2) {
}
.table__header :nth-child(3) {
  width: 25%;
}

.table__header :nth-child(4) {
  width: 20%;
}

.table__header :nth-child(5) {
  width: 10%;
}

.songRow {
  z-index: 1000;

  &:hover {
    cursor: pointer;
    background-color: #303032;
    p {
      color: white;
    }
  }
}

.songRowSelected {
  background-color: #5a5a5a;
  p {
    color: white !important;
  }
}

.numero {
  border-radius: 0.5rem 0 0 0.5rem;
  padding-left: 2rem;
  h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(165, 165, 165);
  }
}

.green {
  h3,
  h1 {
    color: $green !important;
  }
}
.songRow__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0;
}

.songRow__info {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 1rem;

  h1 {
    font-size: 1.5rem;
    font-weight: 550;
  }
  p {
    font-size: 1.35rem;
    font-weight: 500;
    margin-top: 0.2rem;
    color: rgb(165, 165, 165);
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.songRow__picture {
  height: 4rem;
  width: 4rem;
}

.songRow__album {
  p {
    font-size: 1.35rem;
    font-weight: 500;
    margin-top: 0.3rem;
    padding-right: 1rem;
    color: rgb(165, 165, 165);
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.songRow__added_at {
  p {
    font-size: 1.35rem;
    font-weight: 500;
    margin-top: 0.3rem;
    color: rgb(165, 165, 165);
  }
}

.songRow__duration {
  border-radius: 0 0.5rem 0.5rem 0;
  p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0.3rem;
    color: rgb(165, 165, 165);
  }
}

.playArrow {
  font-size: 2.3rem !important;
  color: white;
  margin-left: -0.6rem;
}
